body {
    font-family: 'Comic Sans', sans-serif;
    background: url('/images/silly-gifs/stars2.gif');
}

header h1 {
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

a:link, a:visited, a:hover {
    color: #fff;
}

.sign-button-wrap {
    text-align: center;
}

a.sign-button {
    padding: 10px 40px;
    border: #ae56ff 2px solid;
    background-color: #5f1499;
    display: inline-block;
}

div.form-row {
    padding: 10px 0;
}

div.form-row label {
    display: inline-block;
    width: 120px;
}

.entries-list {
    margin-top: 40px;
    padding: 0 40px;
}

.entries-list .entry{
    margin-bottom: 20px;
    border: 2px solid #fff;
    background-color: #fff;
}

.entries-list .entry .top-row {
    padding: 4px 8px;
    background-color: #ae56ff;
    font-weight: bold;
}

.error-section {
    background-color: #f00;
}

footer {
    text-align: center;
}