<% include partials/page-header %>

<header><h1>Welcome to Austin's guestbook!</h1></header>

<div class="sign-button-wrap">
    <a class="sign-button" href="/sign">Sign My Guestbook!</a>
</div>

<div class="entries-list">
    <% entries.forEach(function(entry) { %>
        <div class="entry">
            <div class="top-row">
                <%= entry.get('authorName'); %>
            </div>
            <div class="content-body">
                <%= entry.get('comment') %>
            </div>
        </div>
    <% }); %>
</div>

<% include partials/page-footer %>