<% include partials/page-header %>

<h1>Welcome to my guestbook!</h1>

<% if (locals.error) { %>
    <div class="error-section"><%= error %></div>
<% }; %>

<form action="/sign" method="POST">
    <div class="form-row">
        <label for="authorName">Your name: </label>
        <input id="authorName" type="text" name="authorName">
    </div>

    <div class="form-row">
        <label for="authorEmail">Your email: </label>
        <input id="authorEmail" type="text" name="authorEmail">
    </div>

    <div class="form-row">
        <label for="authorWebsite">Your website: </label>
        <input id="authorWebsite" type="text" name="authorWebsite">
    </div>

    <div class="form-row">
        <label for="comment">Comment: </label>
        <input id="comment" type="text" name="comment">
    </div>

    <input type="submit" value="OK">
</form>

<% include partials/page-footer %>