    <footer>
        <div class="footer-gifs">
            <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">
                <img src="/images/silly-gifs/netnow6ani.gif" alt="Upgrade to Netscape!" />
            </a>
        </div>
    </footer>

</body>
</html>